<!DOCTYPE html>
<html lamg="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href='/css/base.css'>
	{% block css %}
	{% endblock %}
</head>
<body>
	<nav>
		<div id="pages_nav"> {{ navigation_bar | buildNavBar(locale) | safe }} </div>
		<div id="languages_nav">
			{{ translations.this_page_is_available_in[locale] }}	
			{{ collections.all | buildLanguageSwitcher(translationKey, locale) | safe}}
		</div>
	</nav>
	<main>
		{% block content %}{% endblock %}
	</main>
	{% block javascript %}
	{% endblock %}
	<footer><a href="">subscribe to our newsletter</a></footer>
</body>
</html>
