<!DOCTYPE html>
<html lamg="en">
<head>
	<meta charset="UTF-8">
	{% block title %}
		<title>{{ title }}</title>
	{% endblock %}
	<link rel="stylesheet" href='/css/base.css'>
	{% block css %}
	{% endblock %}
</head>
<body>
	<nav>
		<div id="pages_nav"> {{ navigation_bar | buildNavBar(categories, locale) | safe }} </div>
		<div id="languages_nav">
			{{ translations.this_page_is_available_in[locale] }}	
			{{ collections.all | buildLanguageSwitcher(translationKey, locale) | safe}}
		</div>
	</nav>
	<main>
		{% block content %}{% endblock %}
	</main>
	    <script>
        async function submit() {
            let email = document.getElementById("email").value;
            let res = await fetch("/api/newsletter/subscribe", {
            method: 'POST',
            headers: {
                'Content-Type': 'text/plain'
            },
            body: email
            });
            text = await res.text();

            document.getElementById("info").innerHTML = text; 
        }
    </script>
	{% block javascript %}
	{% endblock %}

	<footer>
		<ul>
			<li>
				<h4>Newsletter</h4>
				<p>Subscribe here to stay up to date with events at Boskanter:</p>
				<p><input type="text" id="email" name="email" placeholder="your email adress"/>
				<button type="button" onclick="submit()">submit</button></p>
				<p id="info"></p>

			</li>
			<li>
				<h4>Contact</h4>
				<table>
					<tr><th>Address</th><td>Koningsweg 9660 Brakel, Belgium</td></tr>
					<tr><th>Email</th><td>info@boskanter.be</td></tr>
					<tr><th>Phone</th><td>055/600617</td></tr>
					<tr><th>Our partners are</th><td><a href="http://www.hetvoedselbos.be/" target="_blank" rel="noopener noreferrer">Het Voedselbos</a>, <a href="https://www.vormingplus-vlad.be/" target="_blank" rel="noopener noreferrer">Vormingplus Vlaamse Ardennen - Dender</a>, <a href="http://www.brakel.be/" target="_blank" rel="noopener noreferrer">Brakel municipality</a>, <a href="https://www.voedselteams.be/">voedselteams</a> and <a href="http://milieufrontomerwattez.be">MOW Brakel</a></td></tr>
				</table>
			</li>
		</ul>
	</footer>
</body>
</html>