{% extends 'layouts/base.html' %}

{% set locale = category.locale %}

{% block title %}
    <title>{{ category.title[locale] }}</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/css/filters.css">
    <link rel="stylesheet" href="/css/blogfeed.css">
{% endblock %}

{% block content %}
    <h1>{{ category.title[locale] }}</h1>
    <table id="filters">
        <tr>
            <td><label for="category">{{ translations.category[locale] | capitalize }}</label></td>
            <td><select name="category" onchange="changeCategory(this.value)">
            {% for c in blog.categories.short %}
                <option value="{{ c.key }}" {% if c.key == category.key %}selected{% endif %}>{{ c.title[locale] }}</option>
            {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td><label for="language">{{ translations.language[locale] | capitalize }}</label></td>
            <td><select onchange="changeLanguage(this.value)">
                {% for l in [["", translations.all_languages[locale]], ["en", translations.English[locale]], ["fr", translations.French[locale]], ["nl", translations.Dutch[locale]]] %}
                    <option value="{{ l[0] }}">{{ l[1] }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr id="search">
            <td><label for="query">{{ translations.search_for_keywords_or_tags[locale] }}</label></td>
            <td><input type="text" id="query">
            <button onclick="changeQuery(document.getElementById('query').value)">🔍</button></td>
        </tr>
    </table>
    <ul id="posts"></ul>
{% endblock %}

{% block javascript %}
    <script>
        let searchParams = new URLSearchParams(window.location.search)

        let cat = "{{ category.key }}"
        let language = searchParams.has("l") ? searchParams.get("l") : ""
        let query = searchParams.has("q") ? searchParams.get("q") : ""
        document.getElementById("query").value = query

        let posts
        let postsInitial

        function displayPosts() {
            let list = ""
            for (p of posts) {
                console.log(p)
                if (language == "" || p.language == language) {
                    list += "<li>"
                        + `<img src="/icons/${p.icon}"/><br>`
                        + p.title + "<br>"
                        + (p.tags ? p.tags + "<br>" : "")
                        + `${ {
                                en: "{{ translations.English[locale] }}",
                                fr: "{{ translations.French[locale] }}",
                                nl: "{{ translations.Dutch[locale] }}"
                            }[p.language]}<br>`
                        + p.date + "<br>"
                        + `<a href='${p.id}'>${p.id}</a><br>`
                        + "</li>"
                }
            }
            document.getElementById("posts").innerHTML = list
        }

        function insertUrlParam(key, value) {
            if (history.pushState) {
                searchParams = new URLSearchParams(window.location.search);
                (value == "") ? searchParams.delete(key) : searchParams.set(key, value);
                let paramstring = ((s) => (s != "") ? "?" + s : "")(searchParams.toString())
                let newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + paramstring;
                window.history.pushState({path: newurl}, '', newurl);
            }
        }        

        function changeCategory(c) {
            window.location.href = `${ window.location.origin }/{{ locale }}/blog/${c}/`
        }

        function changeLanguage(l) {
            language = l
            insertUrlParam("l", l)
            displayPosts()
        }

        function changeQuery(q) {
            query = q
            insertUrlParam("q", q)
            getPosts()
        }

        async function getPosts() {
            if (query == "") {
                if (postsInitial === undefined) {
                    postsInitial = await fetch("/api/blog/postsbycategory", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'text/plain'
                        },
                        body: cat
                    }).then((response) => response.json())
                }
                posts = postsInitial
            }
            else {
                posts = await fetch("/api/blog/search", {
                    method: 'POST',
                    body: `{"category": "${cat}", "query": "${query}"}`
                }).then((response) => response.json())
            }
            displayPosts()
        }

        getPosts()

    </script>
{% endblock %}

