{% extends 'layouts/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/css/theme3.css">
{% endblock %}

{% block content %}
    <h1>{{ translations.calendar[locale] }}</h1>
    <div id="calendar"></div>
    <div id="description"></div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/scripts/caleandar.js"></script>
    <script>
        const entries = [
            {% for e in calendar_entries %}
                {date: new Date("{{ e.date }}"), title: "{{ e.title[locale] }}", description: "{{ e.description[locale] }}"},
            {% endfor %}
        ]

        function displayDescription(date) {
            let description = []
            for (e of entries) {
                if (e.date.toString() == date.toString()) {
                    description.push(`<h2>${ e.title }</h2>${e.description}`)
                }
            }
            document.getElementById("description").innerHTML = description.join("<br>")
        }

        caleandar(document.getElementById("calendar"), entries.map((e) => ({
            Date: e.date, Title: e.title, Link: function() {displayDescription(e.date)}
        })), {
            Color: '#000',                //(string - color) font color of whole calendar.
            LinkColor: '#333',            //(string - color) font color of event titles.
            NavShow: true,                //(bool) show navigation arrows.
            NavVertical: false,           //(bool) show previous and coming months.
            NavLocation: '#foo',          //(string - element) where to display navigation, if not in default position.
            DateTimeShow: true,           //(bool) show current date.
            DateTimeFormat: 'mmm, yyyy',  //(string - dateformat) format previously mentioned date is shown in.
            DatetimeLocation: '',         //(string - element) where to display previously mentioned date, if not in default position.
            EventClick: '',               //(function) a function that should instantiate on the click of any event. parameters passed in via data link attribute.
            EventTargetWholeDay: true,   //(bool) clicking on the whole date will trigger event action, as opposed to just clicking on the title.
            DisabledDays: [],             //(array of numbers) days of the week to be slightly transparent. ie: [1,6] to fade Sunday and Saturday.
            ModelChange: []               //(array of objects) new data object to pass into calendar (serving suggestion: passing through only the currently selected month's events if working with large dataset.
        });
    </script>
{% endblock %}