{% extends 'layouts/base.html' %}

{% set locale = category.locale %}

{% block title %}
    <title>{{ category.title[locale] }}</title>
{% endblock %}

{% block css %}
    <style>
        #pictures {
            padding: 20px;
            th {
                text-align: left;
                text-transform: capitalize;
            }
            th, td {
                padding-right: 10px;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{{ category.title[locale] }}</h1>
    <select onchange="changeCategory(this.value)">
        {% for c in gallery.categories.short %}
            <option value="{{ c.key }}" {% if c.key == category.key %}selected{% endif %}>{{ c.title[locale] }}</option>
        {% endfor %}
    </select>
    <select onchange="changeLanguage(this.value)">
        {% for l in [["", translations.all_languages[locale]], ["en", translations.English[locale]], ["fr", translations.French[locale]], ["nl", translations.Dutch[locale]]] %}
            <option value="{{ l[0] }}">{{ l[1] }}</option>
        {% endfor %}
    </select>
    <input type="text" id="query" placeholder="{{ translations.search_for_keywords_or_tags[locale] }}">
    <button onclick="changeQuery(document.getElementById('query').value)">🔍</button>
    <table id="pictures"></table>
{% endblock %}

{% block javascript %}
    <script>
        let searchParams = new URLSearchParams(window.location.search)

        let cat = "{{ category.key }}"
        let language = searchParams.has("l") ? searchParams.get("l") : ""
        let query = searchParams.has("q") ? searchParams.get("q") : ""
        document.getElementById("query").value = query

        let pictures
        let picturesInitial

        function displaypictures() {
            let table = '<tr><th>key</th><th>Description</th></tr>'
            for (p of pictures) {
                table += "<tr>"
                    + `<td>${p.id}</td>`
                    + `<td>${p["{{locale}}"]}</td>`
                    + "</tr>"
            }
            document.getElementById("pictures").innerHTML = table
        }

        function insertUrlParam(key, value) {
            if (history.pushState) {
                searchParams = new URLSearchParams(window.location.search);
                (value == "") ? searchParams.delete(key) : searchParams.set(key, value);
                let paramstring = ((s) => (s != "") ? "?" + s : "")(searchParams.toString())
                let newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + paramstring;
                window.history.pushState({path: newurl}, '', newurl);
            }
        }        

        function changeCategory(c) {
            window.location.href = `${ window.location.origin }/{{ locale }}/gallery/${c}/`
        }

        function changeLanguage(l) {
            language = l
            insertUrlParam("l", l)
            displaypictures()
        }

        function changeQuery(q) {
            query = q
            insertUrlParam("q", q)
            getpictures()
        }

        async function getpictures() {
            if (query == "") {
                if (picturesInitial === undefined) {
                    picturesInitial = await fetch("/api/gallery/picturesbycategory", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'text/plain'
                        },
                        body: cat
                    }).then((response) => response.json())
                }
                pictures = picturesInitial
            }
            else {
                pictures = await fetch("/api/gallery/search", {
                    method: 'POST',
                    body: `{"category": "${cat}", "query": "${query}"}`
                }).then((response) => response.json())
            }
            console.log(pictures)
            displaypictures()
        }

        getpictures()

    </script>
{% endblock %}

