{% extends 'layouts/base.html' %}

{% set locale = category.locale %}

{% block title %}
    <title>{{ category.title[locale] }}</title>
{% endblock %}

{% block css %}
   	<link rel="stylesheet" href='/css/gallery.css'>
{% endblock %}

{% block content %}
    <h1>{{ category.title[locale] }}</h1>
    <table id="filter">
        <tr>
            <td><label for="category">Category:</label></td>
            <td><select onchange="changeCategory(this.value)">
            {% for c in gallery.categories.short %}
                <option value="{{ c.key }}" {% if c.key == category.key %}selected{% endif %}>{{ c.title[locale] }}</option>
            {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td><label for="query">{{ translations.search_for_keywords_or_tags[locale] }}:</label></td>
            <td><input name="query" type="text" id="query">
                <button onclick="changeQuery(document.getElementById('query').value)">🔍</button>
            </td>
        </tr>
    </table>
    <ul id="pictures"></ul>
{% endblock %}

{% block javascript %}
    <script>
        let searchParams = new URLSearchParams(window.location.search)

        let cat = "{{ category.key }}"
        let query = searchParams.has("q") ? searchParams.get("q") : ""
        document.getElementById("query").value = query

        let pictures
        let picturesInitial

        function displaypictures() {
            let list = ""
            for (p of pictures) {
                list += "<li>"
                    + `<img src="/picturepreviews/${p.id}"><br>`
                    + `${p["{{locale}}"]}<br>`
                    + `<a href="/pictures/${p.id}">{{ translations.see_uncompressed_version[locale] }}</a>`
                    + "</li>"
            }
            document.getElementById("pictures").innerHTML = list
        }

        function insertUrlParam(key, value) {
            if (history.pushState) {
                searchParams = new URLSearchParams(window.location.search);
                (value == "") ? searchParams.delete(key) : searchParams.set(key, value);
                let paramstring = ((s) => (s != "") ? "?" + s : "")(searchParams.toString())
                let newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + paramstring;
                window.history.pushState({path: newurl}, '', newurl);
            }
        }        

        function changeCategory(c) {
            window.location.href = `${ window.location.origin }/{{ locale }}/gallery/${c}/`
        }

        function changeQuery(q) {
            query = q
            insertUrlParam("q", q)
            getpictures()
        }

        async function getpictures() {
            if (query == "") {
                if (picturesInitial === undefined) {
                    picturesInitial = await fetch("/api/gallery/picturesbycategory", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'text/plain'
                        },
                        body: cat
                    }).then((response) => response.json())
                }
                pictures = picturesInitial
            }
            else {
                pictures = await fetch("/api/gallery/search", {
                    method: 'POST',
                    body: `{"category": "${cat}", "query": "${query}"}`
                }).then((response) => response.json())
            }
            console.log(pictures)
            displaypictures()
        }

        getpictures()

    </script>
{% endblock %}

