{% extends 'layouts/base.html' %}

{% block css %}
   	<link rel="stylesheet" href='/css/homepage.css'>
{% endblock %}

{% block content %}
    <h1>Boskanter</h1> 
    <div id="top">    
        <div class="box">{{ homepage.yellowbox[locale] | safe}}</div>
        <div id="tagcloud">
            <h2>Our Blog</h2>
            Discover our blog by clicking on a tag:   
            {{ homepage.blogtags[locale] | safe }}
        </div>
    </div>
	<h2>{{ translations.what_we_do[locale] }}</h2>
    <ul id="highlights">
        {% for h in homepage.highlights %}
            <li class="highlightblock">
                <h3>{{ h.title[locale] }}</h3>
                <p>{{ h.description[locale] | safe }}</p>
                <p>
                    <a href="/{% if r/^(en|fr|nl)\//.test(h.link) %}{{ h.link }}{% else %}{{ locale }}/{{ h.link }}{% endif %}">
                        {{ translations.read_more[locale] }}
                    </a>
                </p>
            </li>
            {% if h.image %}
                <li class="picture">
                    <img src="/pictures/{{ h.image }}">
                    {% if h.imagesubtitle %}<p class="subtitle">{{ h.imagesubtitle[locale] }}</p>{% endif %}
                </li>
            {% endif %}    
       {% endfor %}
    </ul>
{% endblock %}
