{% extends 'layouts/base.html' %}

{% block css %}
   	<link rel="stylesheet" href='/css/homepage.css'>
{% endblock %}

{% block content %}
    <h1>Boskanter</h1>
    <div id="top">    
        {{ content | safe }}
        <div id="tagcloud">
            <p>Discover tags from our blog:</p>
        </div>
    </div>
	<h2>{{ translations.read_more_about_what_we_do[locale] }}</h2>
    <ul id="highlights">
        {% for h in highlights %}
            <li class="highlightblock">
                <h3>{{ h.title[locale] }}</h3>
                <p>{{ h.description[locale] }}</p>
                <p><a href="{{ locale }}/{{ h.link }}">{{ translations.read_more[locale] }}</a></p>
            </li>
            {% if h.image != "" %}
                <li class="picture">
                    <img src="/pictures/{{ h.image }}">
                    <p class="subtitle">{{ h.imagesubtitle }}</p>
                </li>
            {% endif %}    
       {% endfor %}
    </ul>
{% endblock %}