@use "_mixins" as *;
@use "_colors" as *;


footer {
    background-color: $lightgrey;
    h4 {
        text-align: center;
        margin-bottom: 10px;
    }
    p {
        text-align: center;
    }
    th {
        text-align: right;
    }
    p {
        text-align: center;
    }
}