@use "_colors" as *;

$break_for_screenwidth: 900px;

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (min-width: $break_for_screenwidth) and (hover: hover){
    #pages_nav, #languages_nav {
        margin: 0em;
    }
    #pages_nav {
        height: min-content;
        font-family: Handlee;
        text-transform: uppercase;
        padding: 0px;
        #hamburg, .hamburg {
            display: none;
        }
        ul {
            background: none;
            list-style: none;
            margin: 0em;
            padding: 0em;
        }
        li {
            color: #000000;
            display: block;
            float: left;
            padding: 1rem;
            position: relative;
            text-decoration: none;
        }
        li a {
            color: #000000;
        }
        li:hover,
        li:focus-within {
            background-color: aliceblue;
            cursor: pointer;
        }
        li:focus-within a {
            outline: none;
        }
        ul li ul {
            list-style-type: none;
            visibility: hidden;
            opacity: 0;
            min-width: 5rem;
            position: absolute;
            margin-top: 1rem;
            left: 0;
            display: none;
        }
        ul li:hover > ul,
        ul li:focus-within > ul,
        ul li ul:hover,
        ul li ul:focus {
            visibility: visible;
            opacity: 1;
            display: block
        }
        ul li ul li {
            clear: both;
            width: 100%;
            font-size: small;
            background: white;
            z-index: 1;
            position:relative;
        }
    }
}

$hamburg_margin: 0.5em;
$hamburg_border_line_distance_vertical: 1em;
$hamburg_border_line_distance_horizontal: 0.5em;
$hamburg_line_height: 0.1em;
$hamburg_line_distance_inbetween: 0.5em;   

$hamburg_size: 2 * ($hamburg_border_line_distance_vertical + $hamburg_line_distance_inbetween);

@function hamburg_line_top($n) {
    @return $hamburg_margin + $hamburg_border_line_distance_vertical + ($n - 1) * $hamburg_line_distance_inbetween - 0.5 * $hamburg_line_height;
}

@media (max-width: $break_for_screenwidth), (hover: none) {
    nav {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        background: white;
        width: 100%;
        z-index: 100;
    }
    #pages_nav {
        a {
            color: black;
            text-decoration: none;
        }
        label.hamburg { 
            margin: $hamburg_margin;
            display: block;
            background: aliceblue; width: $hamburg_size; height: $hamburg_size; 
            border-radius: 0.5em; 
        }
        input#hamburg {display:none}
        .line { 
            position: absolute;
            left: $hamburg_margin + $hamburg_border_line_distance_horizontal;
            height: 0.1em; width: $hamburg_size - 2 * $hamburg_border_line_distance_horizontal; 
            background: black; border-radius: 2px;
            display: block; 
            transition: 0.5s; 
            transform-origin: center; 
        }
        @each $n in 1, 2, 3 {
            .line:nth-child(#{$n}) { top: hamburg_line_top($n) }
        }
        #hamburg:checked + label.hamburg {
            background-color: rgb(255, 240, 245);
        }
        #hamburg:checked + .hamburg .line:nth-child(1){
            transform: translateY(0.5em) rotate(-45deg);
        }
        #hamburg:checked + .hamburg .line:nth-child(2){
            opacity:0;
        }
        #hamburg:checked + .hamburg .line:nth-child(3){
            transform: translateY(-0.5em) rotate(45deg);
        }
        ul {
            list-style: none;
            padding-left: 20px;
            text-transform: capitalize;
        }
        li {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }    
    #pages_nav>ul { 
        height: calc(100vh - #{2 * $hamburg_margin + $hamburg_size}); 
        max-height:0; 
        overflow: hidden; 
        transition: all 0.5s;
        position: absolute;
        background-color: rgb(245, 245, 245);
        margin: 0px;
        display: block;
        width: 100%;
    }
    #hamburg:checked + .hamburg  + ul { 
        max-height: 100vh;
        overflow-y: auto;
    }
    #language_nav li {
        font-size: large;
    }
}

#languages_nav {
    margin-left: auto;
    padding-right: 3em;
    ul {
        list-style: none;
        li {
            border: 1px solid black;
            border-radius: 0.2em;
            display: inline-block;
            padding: 0;
        }
        li:first-child {
            background: aliceblue;
            padding: 0em 0.5em 0em 0.5em;
        }
        li>* {
            display: block;
            padding: 0em 0.5em 0em 0.5em;
            top: 0;
            left: 0;
        }
    }
}