@use "sass:math";
@use "_fonts";
@use "_nav";
@use "_footer";

h1, h2, h3, h4, h5, h6 {
    font-family: Handlee;
    text-transform: uppercase;
}

main, footer {
    margin: auto;
    padding: 1em;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
    font-family: "Louis George Cafe";
}

.box {
    background-color: beige;
    border-radius: 1em;
    padding: 0.5em 1em 2em 1em;
    margin: 0em;
}

main {
    min-height: 5em;
    flex: 1;
}