@font-face {
  font-family: "Handlee";
  src: url('/fonts/handlee-regular.ttf');
}

@font-face {
  font-family: "Coolvetica";
  src: url('/fonts/coolvetica/coolvetica rg.otf');
}

@font-face {
  font-family: "Geo Sans";
  src: url('/fonts/geo_sans_light/GeosansLight.ttf');
}

@font-face {
  font-family: "Linux Libertine";
  src: url('/fonts/linux_libertine/LinLibertine_aS.ttf');
}

@font-face {
  font-family: "Memogram";
  src: url('/fonts/memogram/Memogram.otf');
}

@font-face {
  font-family: "Louis George Cafe";
  src: url('/fonts/louis_george_cafe/Louis George Cafe.ttf');
}
@font-face {
  font-family: "Louis George Cafe";
  src: url('/fonts/louis_george_cafe/Louis George Cafe Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: "Louis George Cafe";
  src: url('/fonts/louis_george_cafe/Louis George Cafe Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: "Louis George Cafe";
  src: url('/fonts/louis_george_cafe/Louis George Cafe Bold Italic.ttf');
  font-weight: bold;
  font-style: italic;
}
h1, h2, h3, h4, h5, h6, #pages_nav {
    font-family: Handlee;
    text-transform: uppercase;
}

main, #languages_nav {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

a {
  text-decoration: none;
}

body {
    margin: 0px;
    font-family: "Arial";
}

nav {
    display: flex;
    flex-direction: column;
}

.box {
    background-color: beige;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

#pages_nav {

    padding: 0px;

    ul {
        background: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    li {
        color: #000000;
        display: block;
        float: left;
        padding: 1rem;
        position: relative;
        text-decoration: none;
    }
    
    li a {
        color: #000000;
    }

    li:hover,
    li:focus-within {
        background-color: aliceblue;
        cursor: pointer;
    }

    li:focus-within a {
       outline: none;
    }

    ul li ul {
        list-style-type: none;
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        margin-top: 1rem;
        left: 0;
        display: none;
    }

    ul li:hover > ul,
    ul li:focus-within > ul,
    ul li ul:hover,
    ul li ul:focus {
        visibility: visible;
        opacity: 1;
        display: block
    }

    ul li ul li {
        clear: both;
        width: 100%;
        font-size: small;
        background: white;
        z-index: 1;
        position:relative;
    }
}

#languages_nav {

    padding: 5px;

    ul {
        display: inline;
        list-style: none;
    }

    ul li {
        display: inline;
    }

    ul li + li:before {
        content: ", ";
    }
}

body {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
}
 
main {
  min-height: 5em;
  flex: 1;
}

footer {
    margin-top: 50px; 
    margin-bottom: 50px;
    ul {
        list-style: none;
        padding-left: 0px;
        max-width: 1000px;
        margin: auto;
    }
    strong {
        font-weight: normal;

    }
}

footer h4 {
    text-align: center;
    margin-bottom: 10px;
}

footer th {
    text-align: right;
}

footer p {
    text-align: center;
}

footer>ul {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
}