@font-face {
    font-family: "Handlee";
    src: url('/fonts/handlee-regular.ttf');
}
@font-face {
    font-family: "Louis George Cafe";
    src: url('/fonts/louis_george_cafe/Louis George Cafe.ttf');
}
@font-face {
    font-family: "Louis George Cafe";
    src: url('/fonts/louis_george_cafe/Louis George Cafe Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: "Louis George Cafe";
    src: url('/fonts/louis_george_cafe/Louis George Cafe Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: "Louis George Cafe";
    src: url('/fonts/louis_george_cafe/Louis George Cafe Bold Italic.ttf');
    font-weight: bold;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Handlee;
    text-transform: uppercase;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 1em;
}

label:after {
    content: " "
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
    font-family: "Louis George Cafe";
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box {
    background-color: beige;
    border-radius: 1em;
    padding: 0.5em 1em 2em 1em;
    margin: 0em;
}


@media (min-width: 800px) and (hover: hover){
    #pages_nav, #languages_nav {
        margin: 0em;
    }
    #pages_nav {
        height: min-content;
        font-family: Handlee;
        text-transform: uppercase;
        #hamburg, .hamburg {
            display: none;
        }
        padding: 0px;
        ul {
            background: none;
            list-style: none;
            margin: 0em;
            padding: 0em;
        }
        li {
            color: #000000;
            display: block;
            float: left;
            padding: 1rem;
            position: relative;
            text-decoration: none;
        }
        li a {
            color: #000000;
        }
        li:hover,
        li:focus-within {
            background-color: aliceblue;
            cursor: pointer;
        }
        li:focus-within a {
            outline: none;
        }
        ul li ul {
            list-style-type: none;
            visibility: hidden;
            opacity: 0;
            min-width: 5rem;
            position: absolute;
            margin-top: 1rem;
            left: 0;
            display: none;
        }
        ul li:hover > ul,
        ul li:focus-within > ul,
        ul li ul:hover,
        ul li ul:focus {
            visibility: visible;
            opacity: 1;
            display: block
        }
        ul li ul li {
            clear: both;
            width: 100%;
            font-size: small;
            background: white;
            z-index: 1;
            position:relative;
        }
    }
}
@media (max-width: 800px), (hover: none) {
    nav {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        background: white;
        width: 100%;
        z-index: 100;
    }
    #pages_nav {
        a {
            color: black;
            text-decoration: none;
        }
        label.hamburg { 
            margin: 1em;
            display: block;
            background: aliceblue; width: 3em; height: 3em; 
            border-radius: 0.5em; 
        }
        input#hamburg {display:none}
        .line { 
            position: absolute;
            left: 1.5em;
            height: 0.1em; width: 2em; 
            background: black; border-radius: 2px;
            display: block; 
            transition: 0.5s; 
            transform-origin: center; 
        }
        .line:nth-child(1) { top: 1.9em; }
        .line:nth-child(2) { top: 2.4em; }
        .line:nth-child(3) { top: 2.9em; }
        #hamburg:checked + label.hamburg {
            background-color: rgb(255, 240, 245);
        }
        #hamburg:checked + .hamburg .line:nth-child(1){
            transform: translateY(0.5em) rotate(-45deg);
        }
        #hamburg:checked + .hamburg .line:nth-child(2){
            opacity:0;
        }
        #hamburg:checked + .hamburg .line:nth-child(3){
            transform: translateY(-0.5em) rotate(45deg);
        }
        ul {
            list-style: none;
            padding-left: 20px;
            text-transform: capitalize;
        }
        li {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }    
    #pages_nav>ul { 
        height: calc(100vh - 5em); 
        max-height:0; 
        overflow: hidden; 
        transition: all 0.5s;
        position: absolute;
        background-color: rgb(245, 245, 245);
        margin: 0px;
        display: block;
        width: 100%;
    }
    #hamburg:checked + .hamburg  + ul { 
        max-height: 100vh;
        overflow-y: auto;
    }
    #language_nav li {
        font-size: large;
    }
}

#languages_nav {
    margin-left: auto;
    padding-right: 3em;
    ul {
        list-style: none;
        li {
            border: 1px solid black;
            border-radius: 0.2em;
            display: inline-block;
            padding: 0em 0.5em 0em 0.5em;
        }
        li:first-child {
            background: aliceblue;
        }
    }
}


body {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    flex-direction: column;
}

main {
    min-height: 5em;
    flex: 1;
}

footer {
    margin-top: 50px; 
    margin-bottom: 50px;
    ul {
        list-style: none;
        padding-left: 0px;
        max-width: 1000px;
        margin: auto;
    }
    strong {
        font-weight: normal;
        
    }
    h4 {
        text-align: center;
        margin-bottom: 10px;
    }
    th {
        text-align: right;
    }
    p {
        text-align: center;
    }
}

footer>ul {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
}