@use "_mixins" as *;

@include content_width(40em);

.header {
    display: inline-flex;
    margin-bottom: 1em;
    width: 100%;
    img {
        max-width: 5em;
        max-height: 5em;
        margin-top: auto;
        margin-left: auto;
    }
    div {
        margin-right: 1em;
    }
    .subtitle {
        margin-bottom: 0px;
        font-size: small;
        color: grey;
    }
}

main table {
    border-collapse: collapse;
    margin: auto;
    td, th {
        border: 1px solid gray;
        padding: 0.5em;
    }
}
