@use "_mixins" as *;
@use "_colors" as *;

@include content_width(60em);

#filters {
    width: 100%;
    margin-bottom: 2em;
}

#pictures {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-gap: 1em;
    
    img {
        width: 100%;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
    }
    
    li {
        position: relative;
        text-align: center;
    }
    
    .meta {
        font-size: small;
        color: grey;
    }
    
    .linksurface {
        position:absolute; 
        width:100%;
        height:100%;
        top:0;
        left: 0;
        
        z-index: 1;
    }
}
