@media (min-width: 40em) {
    #top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5em;
        margin-bottom: 1em;
    }
    #top>* {
        padding-top: 0.5em;
    }
}

@media (max-width: 40em) {
    .box {
        border-radius: 0em;
        margin-left: -1em;
        margin-right: -1em;
    }
}

#highlights {    
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1.5em;
    
    img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}

.subtitle {
    text-align: center;
    font-size: small;
}


#tags {
    margin: 1em 0em 0em 0em;
    padding: 1em;
    background-color: aliceblue;
    border-radius: 0.5em;
}

