body {
    font-family: 'Times New Roman', Times, serif;
}

nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
      
    li {
        float: left;
        padding: 10px;
    }
    padding: 0.5em;
}

#calendar {
    text-align: center;
}
