{% extends 'layouts/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/css/newsletter.css">
{% endblock %}

{% block content %}
    <p>{{ translations.enter_your_email_adress_to_subscribe_to_the_newsletter[locale] }}</p>
    <input type="text" id="email" name="email"/>
    <button type="button" onclick="submit()">submit</button>
    <p id="info"></p>
    <p><img src="/icons/mail.svg"/></p>
{% endblock %}

{% block javascript %}
    <script>
        async function submit() {
            let email = document.getElementById("email").value;
            let res = await fetch("/api/newsletter/subscribe", {
            method: 'POST',
            headers: {
                'Content-Type': 'text/plain'
            },
            body: email
            });
            text = await res.text();

            document.getElementById("info").innerHTML = text; 
        }
    </script>
{% endblock %}