{% extends 'layouts/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/css/newsletter.css">
{% endblock %}

{% block content %}
    <p>{{ translations.are_you_sure_you_want_to_unsubscribe_from_the_newsletter[locale] }}</p>
    <p><button onclick="unsubscribe()">{{ translations.yes_unsubscribe_me[locale] }}</button></p>
    <p id="display"></p>
    <p><img src="/icons/mail.svg"/></p>

{% endblock %}

{% block javascript %}
    <script>
        async function unsubscribe() {
            fetch("/api/newsletter/unsubscribe", {
                method: 'POST',
                headers: {
                    'Content-Type': 'text/plain'
                },
                body: window.location.search.slice(1)
            })
            document.getElementById("display").innerHTML = "{{ translations.you_successfuly_unsubscribed_from_the_newsletter[locale] }}"
        }
    </script>
{% endblock %}